:root{
   --primaryColor:firebrick;
   --secondaryColor: darkred;
   --fontSize: clamp(16px, 2vw, 22px);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgray;
}
header, section{
    min-height: 100vh;
    margin: 1.5rem;
 
}
h1, h2{
    text-align: center;
    padding: 2rem;
    color: firebrick;
}

ul>li{
    border-bottom: 2px solid firebrick
}


article{
    background-color:gold;
    padding: 1rem;
    
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    max-width: 500px;
}
img{
    height: 30px;
}
.nav-list a {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: .3rem;
    text-shadow: 2px 2px 3px black;
}
.nav-list a:hover{
    text-shadow: unset;
}
.nav-list a::first-letter{
    text-transform: uppercase;
}
.nav-list{
    font-size: var(--fontSize);
    gap: .4rem;
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items:center;
}





.columns{
    display: flex;
    gap: .5rem;
    border: 1px solid red;
    align-items: end;
}
.columns > *{
   width: 100%;
   /* flex-shrink: 1;
   flex-grow: 0; */
   /* flex-basis: 0px; */
}
.columns article:nth-child(2){
    background-color: magenta;
    align-self: flex-start;
    order: 1;
}

/* 0 0 5 */
/* -1 0 0 */


